.doctor-detail-container {
  padding-top: 30px;

  .intro-doctor {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    // border: 1px solid black;
    // height: 120px;

    .content-left {
      width: 20%;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      margin: 10px 20px;
      background: center center no-repeat;
    }

    .content-right {
      width: 80%;

      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .up {
        font-size: 20px;
        font-weight: 600;
        padding-top: 10px;
      }

      .down {
        padding-top: 10px;
      }
    }
  }

  .schedule-doctor {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    .content-left {
      width: 55%;
      border: 1px solid;
      min-height: 20vh;
    }
    .content-right {
      width: 45%;
    }
  }

  .detail-info-doctor {
    padding: 0 100px;
    background: #fff6f6;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
