.doctor-info-modal {
  .intro-doctor {
    padding: 0 20px;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;

    .content-left {
      border-radius: 50%;
      height: 120px;
      width: 120px;
      margin-right: 30px;
      background: center center no-repeat;
    }

    .content-right {
      display: flex;
      flex-direction: column;
      // padding-left: 10px;

      .up {
        font-size: 20px;
        font-weight: 600;
        //   padding-top: 10px;
      }

      .down {
        padding-top: 5px;
      }
    }
  }

  .price {
    font-weight: 500;
    color: #5050ff;
    .price-title {
      margin-right: 10px;
    }
  }
}
