.manage-schedule-container {
  .m-s-title {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }

  .pick-hour-container {
    padding-top: 20px;
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .button-time {
      background: white;
      border: 1px solid grey;
      padding: 5px 10px;
      border-radius: 3px;
      &.active {
        color: white;
        background: #38cd38;
      }
      &:hover {
        color: white;
        background: #38cd38;
      }
    }
  }
  .save-button {
    background: #6b6be7;
    padding: 7px 20px;
    border-radius: 3px;
    color: white;
    opacity: 1;
    font-size: 15px;
    margin-left: 15px;
    &:hover {
      opacity: 0.8;
    }
  }
}
